{% extends "base.html" %}

{% block content %}
<div class="container">
  <style>
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
  }

  .doctor-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }

  .doctor-table th, .doctor-table td {
    padding: 30px;
    text-align: left;
    border: 1px solid #c9baba;
  }

  .doctor-table th {
    background-color: #f2f2f2;
  }

  .doctor-table td {
    background-color: #fff;
  }

  .appointment-form {
    display: flex;
    flex-direction: column;
    align-items: auto;
  }

  .appointment-form input,
  .appointment-form button {
    margin-top: 10px;
  }

  .appointment-form input {
    padding: 8px;
    font-size: 1rem;
    margin-bottom: 5px;
  }

  .appointment-form button {
    padding: 10px 20px;
    background-color: #37a0ac;
    color: white;
    border: none;
    border-radius: 10px;
  }

  .appointment-form button:hover {
    background-color: #218838;
  }
</style>
  <h1>List of Doctors</h1>
  <table class="doctor-table">
    <thead>
      <tr>
        <th>Doctor Name</th>
        <th>Education</th>
        <th>Specialty</th>
        <th>Appointment</th>
      </tr>
    </thead>
    <tbody>
      {% for doctor in doctors %}
        <tr>
          <td>{{ doctor.doctor_name }}</td>
          <td>{{ doctor.education }}</td>
          <td>{{ doctor.specialty }}</td>
          <td>
            <form action="{{ url_for('customer.book_appointment') }}" method="post">
              <input type="hidden" name="doctor_id" value="{{ doctor.user_id }}">
              <div class="appointment-form">
                <label for="scheduled_at">Choose Appointment Date & Time:</label>
                <input type="datetime-local" name="scheduled_at" required>
                <button type="submit" class="btn">Book Appointment</button>
              </div>
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}


