{% extends "base.html" %}

{% block content %}
<h1>Refund and Return Policy</h1>
<p>Here is the refund and return policy for our store.</p>
<p>
 
If you receive a product that is damaged in shipping, defective or that is not the product you ordered, please return it to Perfecto  and we'll arrange for a replacement. But some conditions apply. Those are:


RETURN POLICY
 
Order must be checked in front of the delivery person (Inside Dhaka).
 
If any defect is found (damaged/ defective/ wrong product) after opening the box, inform the “Customer Relationship Management Department” (through hotline +8801234388832) as soon as possible along with a picture/ video proof.
 
We Need A Full length Video Proof of Opening the Parcel Package (outside Dhaka)
 
Used/ Swatched product will not be considered for exchange or refund.
 
The Return Policy will not be valid after the seal is broken or if the product does not suit you.
 
If the customer chooses or places an order by themselves and want to return/change the product (except damaged products) the request will not be accepted.
 
Original Invoice, Product Packaging Box must be returned along with the product.
 
7 Days Easy Return However in any Case Product is intact and you want to exchange it with other product you can Come to our Physical Show room and Exchange it with other products by showing your Purchase Invoice within 7 Days after Receive the Products.
 

REFUND POLICY
Once we receive your returned product, the product will be forwarded to the Product Packaging and Inspection Department. It will take 1-2 business days to verify the issue and after verification if it is found that the claim is valid, then the product will be exchanged or money will be refunded.

 

If the Claim is not Match on our Return Policy, MediPharma will not be liable to exchange or Refund the money</p>
{% endblock %}
